		.top-bar--style-1 {
    height: 70px;
    margin-bottom: 7px;
    margin-top: 7px;
    padding-bottom: -24px;
    line-height: 69px;
}
.a-preloader--pulsate.a-preloader--load-more {
    display: none;
}

.vc_custom_1495001549347 {
	margin-bottom: 68px !important
}
.vc_custom_1495001583925 {
	margin-bottom: 59px !important
}
.vc_custom_1495001698713 {
	margin-bottom: 42px !important
}
.vc_custom_1499783886980 {
	margin-bottom: 30px !important;
	padding-bottom: 80px !important;
	background-color: #f0f1f3 !important
}
.vc_custom_1502483983021 {
	margin-bottom: 40px !important
}
.vc_custom_1502484031408 {
	margin-bottom: 80px !important
}
.vc_custom_1499914997419 {
	padding-top: 32px !important;
	padding-bottom: 42px !important;
	background-image: url(https://advice.owl.team/orion/wp-content/uploads/sites/2/2016/04/graph-bg-1.png?id=522) !important;
	background-position: 0 0 !important;
	background-repeat: no-repeat !important
}
.vc_custom_1499783835253 {
	margin-bottom: 32px !important;
	padding-top: 8px !important;
	background: #7878c3 url() !important;
	background-position: 0 0 !important;
	background-repeat: repeat !important
}
.vc_custom_1495086944432 {
	margin-bottom: 79px !important
}
.vc_custom_1495085544221 {
	margin-bottom: 66px !important
}
.vc_custom_1495956521899 {
	margin-bottom: 36px !important
}
.vc_custom_1495434797931 {
	padding-top: 10px !important
}
.vc_custom_1495001159976 {
	margin-bottom: 0px !important
}
.vc_custom_1495021420654 {
	padding-top: 0px !important
}
.vc_custom_1495093217973 {
	padding-top: 55px !important
}
.vc_custom_1495043353254 {
	margin-bottom: 60px !important
}
.vc_custom_1495043587757 {
	margin-bottom: 0px !important
}
.vc_custom_1495045020175 {
	margin-bottom: 49px !important
}
.vc_custom_1495048310348 {
	margin-bottom: 22px !important
}
.vc_custom_1495085435650 {
	margin-bottom: 52px !important
}
.vc_custom_1495085461044 {
	margin-bottom: 0px !important
}
.vc_custom_1495091660509 {
	margin-bottom: 62px !important
}