.shutterstock-444334663, .untitled-3-1, .untitled-3, .untitled-4, .untitled-6, 
.untitled-8, .layer-7, .climber, .client, .glases, 
.doctar, .alina, .alina2, .alina3, .shutterstock-38859339544-2, 
.shutterstock-388786822, .shutterstock-410797786, .download-2, .images-9, .shutterstock-226551772, 
.images-8, .shutterstock-440517250-100x100
{ display: inline-block; background: url('jpeg.jpg') no-repeat; overflow: hidden; text-indent: -9999px; text-align: left; }
 
.shutterstock-444334663 { background-position: -2px -0px; width: 1920px; height: 1225px; }
.untitled-3-1 { background-position: -2px -1227px; width: 1084px; height: 900px; }
.untitled-3 { background-position: -2px -2129px; width: 1084px; height: 900px; }
.untitled-4 { background-position: -2px -3031px; width: 1084px; height: 900px; }
.untitled-6 { background-position: -2px -3933px; width: 1084px; height: 900px; }
.untitled-8 { background-position: -2px -4835px; width: 1084px; height: 900px; }
.layer-7 { background-position: -2px -5737px; width: 864px; height: 576px; }
.climber { background-position: -1088px -1227px; width: 630px; height: 444px; }
.client { background-position: -1088px -1673px; width: 480px; height: 492px; }
.glases { background-position: -1088px -2167px; width: 470px; height: 524px; }
.doctar { background-position: -1088px -2693px; width: 446px; height: 297px; }
.alina { background-position: -1536px -2693px; width: 370px; height: 380px; }
.alina2 { background-position: -1088px -2992px; width: 370px; height: 381px; }
.alina3 { background-position: -1460px -3075px; width: 370px; height: 380px; }
.shutterstock-38859339544-2 { background-position: -1088px -3375px; width: 370px; height: 380px; }
.shutterstock-388786822 { background-position: -1460px -3457px; width: 370px; height: 380px; }
.shutterstock-410797786 { background-position: -1088px -3757px; width: 370px; height: 380px; }
.download-2 { background-position: -1570px -1673px; width: 297px; height: 170px; }
.images-9 { background-position: -1570px -1845px; width: 294px; height: 171px; }
.shutterstock-226551772 { background-position: -1570px -2018px; width: 270px; height: 280px; }
.images-8 { background-position: -1560px -2300px; width: 266px; height: 189px; }
.shutterstock-440517250-100x100 { background-position: -1720px -1227px; width: 100px; height: 100px; }